html {
    font-size: 10px;
    min-width: 300px;
}



h1,
h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 900 !important;
}

hr {
    background-color: orange;
}

p {
    font-family: 'Raleway', sans-serif;
}

.lead {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.active {
    background-color: orange !important;
}

.main-color {
    color: orange !important;
}

/************** SECTION 1 *************************/

#wrapper {
    position: relative;
}

#section1 {
    padding: 0;
    height: 100vh;
    position: relative;
    color: #fff;
}


#nav-main {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    top: 0px;
    z-index: 999;
    transition: 1s background;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 10px;
}

#nav-main > .container {
    height: 40px;
}

#nav-main ul li {
    margin: 0 1%;
}

#nav-main li a {
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}

/*
.nav-main-background{
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 10px;
    
}
*/

.jumbotron {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    margin: auto;
    background-color: transparent;
    transform: translateY(-70%);
    z-index: 2;
}

.jumbotron p,
.jumbotron hr {
    margin-left: 10%;
}

.jumbotron a {
    margin-left: 10%;
    border: none;
    border-radius: 0;
}

#logo {
    position: absolute;
    top: -60px;
    left: -40px;
    z-index: -1;
    height: 100px;
}



.my-4--shorter {
    min-width: 200px;
    width: 40%;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.my-2 {
    width: 30%;
    position: relative;
}

.carousel-inner {
    position: relative;
    height: 100vh;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center center;
    width: 100%;
    height: 100%;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.55) 20%, rgba(0, 0, 0, 0) 90%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.55) 20%, rgba(0, 0, 0, 0) 90%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 20%, rgba(0, 0, 0, 0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    z-index: 1;
}

#slide-image-1 {
    background-image: url('../img/concrete-pump-2222450_1920.jpg');
    background-attachment: fixed;
}

#slide-image-2 {
    background-image: url('../img/house-construction-1407499_1920.jpg');
    background-attachment: fixed;
}

#slide-image-3 {
    background-image: url('../img/tool-2222458_1920.jpg');
    background-attachment: fixed;
}


/************** SECTION 2 *************************/

#section2 {
    min-height: 700px;
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: #eee;
    background-image: url("../img/construction-646918_1920.jpg");
    background-size: cover;
    background-position: 70% 50%;
    position: relative;
}

#section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.half-width--left {
    color: #fff;
    position: relative;
    z-index: 4;
    width: 50%;
    min-width: 200px;
}

.half-width--left p {
    margin: 100px 0;
    line-height: 1.9em;
    padding-right: 10%;
    font-size: 1.1em;
}

/************** SECTION 3*************************/

#section3 {
    position: relative;
    padding-top: 40px;
    width: 100%;
}

#whyWeSection {
    height: auto;
    background-color: #eee;
}

#offerSection p,
#whyWeSection p {
    font-size: 1.1rem;
}

#offerSection h3,
#whyWeSection h3 {
    font-size: 1.6rem;
}

#offerSection .image-container {
    overflow: hidden;
}

#offerSection .image-container img {
    transition: 1s transform;
}

#offerSection .image-container:hover img {
    transform: scale(1.05);
}

.icon-placeholder--circle {
    width: 50%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin: auto;
    transform: translate(0, 50%);
    border: 4px solid #424141;
    overflow: hidden;
    transition: 0.5s background;
    color: #444;
}

.icon-placeholder--circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.icon-placeholder--circle:hover {
    background-color: orange;
}

.icon-placeholder--circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms transform;
}


.icon-placeholder--circle + div {
    padding: 7%;
    padding-top: 30%;
}

.icon-placeholder--circle + div h3 {
    margin-bottom: 10%;
}

.col-gutter--slim {
    margin-bottom: 80px;
}

.col-gutter--slim > div {
    padding: 0 3px;
    margin-top: -5%;
}




/************** SECTION 4*************************/

#section4 {
    background-color: #eee;
    background-image: url("../img/tools-498202_1920.jpg");
    background-size: cover;
    background-position: 70% 50%;
    position: relative;
    color: #fff;
    padding: 40px 0;
    padding-bottom: 110px;
    margin-bottom: 70px;
}

#section4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#gallerySection{
    position: relative;
    z-index: 2;
}

/*-----------Gallery-----------*/

.slider-for{
    margin: 80px 0;
}


.slider-for div {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    height: 400px;
    position: relative;
    padding: 0;
    overflow: hidden;
}



.slider-for div img {
    position: relative;
    display: block;
    max-height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-nav div {
    height: 90px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.slider-nav div img {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slick-next {
    transform: translateX(-30px) !important;
    z-index: 2;
}

.slick-prev {
    transform: translateX(30px) !important; 
    z-index: 2;
}

.slider-item-text{
    position: absolute;
    display: none;
    padding: 3px 80px;
    bottom: 0px;
    z-index: 2;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
   background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.39) 15%,rgba(0,0,0,0.67) 32%,rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 59%,rgba(0,0,0,0.6) 72%,rgba(0,0,0,0.39) 86%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
}

/*----------------------*/


/************** SECTION 5*************************/

#section5 {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 150px;
    background-image: url(/img/action-adult-chainsaw-209229.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

#section5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#section5 .container {
    z-index: 2;
    position: relative;
}

#section5 header {
    padding-bottom: 90px;    
}

#section5 form .row .row {
    height: 60px;
    padding: 5px;
    width: 90%;
    margin: auto;
}

#section5 form .row .message-area {
    height: 120px;
    padding: 5px;
}

#section5 .form-control {
    border-radius: 0px;
}

#section5 form input:focus, #section5 form textarea:focus{
    border:2px solid orange;
    box-shadow: 0px 0px 1px 1px orange;
}

.form-contact-info{
    padding: 90px 0;
    white-space: nowrap;
}

.form-contact-info div div{
    background-color: rgba(0,0,0, 0.6);
    padding: 10px;
    
}


/************** FOOTER *************************/

footer {
    width: 100%;
    background-color: #232323;
    
}

.footer-nav{
    font-size: 1.1em;
    font-weight: 100;
    padding: 20px 0;
    text-decoration: none;
   
}

.footer-nav a {
     color: #fff;
}

.footer-nav a:hover {
     color: orange;
    text-decoration: none;
}

footer .copyright {
    background-color: #000;
}








@media (max-width: 576px) {
    html {
        font-size: 0.65rem;
    }
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    html {
        font-size: 0.8rem;
    }
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    html {
        font-size: 0.9rem;
    }
}

/*// Medium devices (tablets, 768px and down)*/

@media (max-width: 767px) {

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    .navbar-collapse ul {
        background-color: #454545;
    }

    #nav-main li {
        margin: 0 !important;
    }
    #nav-main li a {
        margin: 0%;
    }

    .icon-placeholder--circle {
        width: 40%;
    }

    #offerSection p,
    #whyWeSection p {
        font-size: 1.5rem;
    }

    #offerSection h3,
    #whyWeSection h3 {
        font-size: 2.4rem;
    }

    .col-gutter--slim > div {
        margin-top: -10%;
    }

    .slider-for div {
        width: 100%;
        height: 250px;
    }

    .slider-for div img {
        min-height: 100%;
    }

    .slider-nav div {
        height: 70px;
    }

    #section5 form .row .row {
    width: 100%;

}
    
    
    
    
    
    
    
    
    
  
    
    /*// Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        html {
            font-size: 1.0rem;
        }
    }

    /*// Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
        html {
            font-size: 1.0rem;
        }
    }