

html {
  font-size: 10px;
    min-width: 300px;
}



h1,h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
  font-weight: 900 !important;
}

hr {
    background-color: orange;
}

p {
    font-family: 'Raleway', sans-serif ;
}

.lead {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.active {
    background-color: orange !important;
}

.main-color {
    color: orange !important;
}

/************** SECTION 1 *************************/

#wrapper {
    position: relative;
}

#section1{
    padding:0;
    height: 100vh;
    position: relative;
    color: #fff;
}


#nav-main {
    position: fixed;
    width: 100%;
    margin-top: 20px;
    top: 0px;
    z-index: 999;
}

#nav-main > .container {
    height: 40px;
}

#nav-main ul li {
    margin: 0 1%;
}

#nav-main li a {
    color: #fff;
    text-transform: uppercase;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left:10%;
    right:10%;
    margin: auto;
    background-color: transparent;
    transform: translateY(-70%);
    z-index: 2;
}

.jumbotron p, .jumbotron hr {
    margin-left: 10%;
}

.jumbotron a{
    margin-left: 10%;
    border: none;
    border-radius: 0;
}

#logo {
    position: absolute;
    top: -60px;
    left: -40px;
    z-index: -1;
    height: 100px;
}



.my-4--shorter {
    width:40%;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}


.carousel-inner {
    position: relative;
    height: 100vh;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center center;
    width: 100%;
    height: 100%;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 20%, rgba(0,0,0,0) 90%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 20%,rgba(0,0,0,0) 90%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.55) 20%,rgba(0,0,0,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    z-index: 1;
}

#slide-image-1 {
    background-image: url('../img/concrete-pump-2222450_1920.jpg');
}

#slide-image-2 {
    background-image: url('../img/house-construction-1407499_1920.jpg');
}

#slide-image-3 {
    background-image: url('../img/tool-2222458_1920.jpg');
}


/************** SECTION 2 *************************/


#section2{
    height: 700px;
	
    background-color: #eee;
    background-image: url("../img/construction-646918_1920.jpg");
    background-size: cover;
    background-position: 70% 50%;
    position: relative;
}

#section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#section2 .container .float-left {
    color: #fff;
    position: relative;
    z-index: 4;
    width: 50%;
    padding-top: 90px;
}

#section2 .container .float-left p {
    margin: 60px 0;
    line-height: 1.8em;
    padding-right: 10%;
}













/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    html {
  font-size: 0.7rem;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    html {
  font-size: 1.0rem;
}
}

/*// Medium devices (tablets, 768px and down)*/
@media (max-width: 768px) { 
    .navbar-collapse ul {
        background-color: #454545;
    }
    
    #nav-main li {
        margin: 0 !important;        
    }
    #nav-main li a {
        margin: 0%;
    }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    html {
  font-size: 1.0rem;
}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    html {
  font-size: 1.0rem;
}
}
